#!/usr/bin/make -f

export PYBUILD_NAME=pyqtgraph

%:
	dh $@ --with python3,sphinxdoc --buildsystem=pybuild

# they spawn graphical windows
override_dh_auto_test:

override_dh_auto_clean:
	rm -rf doc/build
	dh_auto_clean

override_dh_auto_build:
	cd doc && $(MAKE) html
	dh_auto_build
